In [3]:
import pandas as pd
import json

In [2]:
json1=pd.read_json('E:/documentos/soyhenry/DATA SCIENCE/MODULOS/PROYECTO FINAL/datasets/google/metadata-sitios/1.json', lines=True)
json2=pd.read_json('E:/documentos/soyhenry/DATA SCIENCE/MODULOS/PROYECTO FINAL/datasets/google/metadata-sitios/2.json', lines=True)
json3=pd.read_json('E:/documentos/soyhenry/DATA SCIENCE/MODULOS/PROYECTO FINAL/datasets/google/metadata-sitios/3.json', lines=True)
json4=pd.read_json('E:/documentos/soyhenry/DATA SCIENCE/MODULOS/PROYECTO FINAL/datasets/google/metadata-sitios/4.json', lines=True)
json5=pd.read_json('E:/documentos/soyhenry/DATA SCIENCE/MODULOS/PROYECTO FINAL/datasets/google/metadata-sitios/5.json', lines=True)

NameError: name 'pd' is not defined

# JSON 1

In [ ]:
json1=pd.read_json('E:/documentos/soyhenry/DATA SCIENCE/MODULOS/PROYECTO FINAL/datasets/google/metadata-sitios/1.json', lines=True)
json1

In [1]:
df1=json1

NameError: name 'json1' is not defined

In [326]:
df1.shape

(2862, 8)

In [ ]:
#eliminamos las columnas que no son relevantes [name, gmap_id, avg_rating, num_of_reviews, category, estado, localidad, Delivery]
df1=df1.drop(columns=['hours', 'latitude', 'longitude', 'relative_results', 'url', 'description'], axis=1)

In [ ]:
#Agregamos la columna 'estado' donde van a estar alojados los códigos de los países
estado_regex = r',\s([A-Za-z]{2,})\s(\d{5})?$'
df1['estado'] = df1['address'].str.extract(estado_regex, expand=True)[0]

In [ ]:
# Definir una lista con los códigos de estado que queremos mantener
codigos_estado_deseados = ['TX', 'CA', 'IN', 'KY', 'IA', 'MS']

# Filtrar la columna 'estado' para mantener solo los códigos de estado deseados
df1= df1[df1['estado'].isin(codigos_estado_deseados)]

In [ ]:
# agregar la columna 'localidad' con el nombre de cada localidad que le corresonde a cada código de estado
# Definir un diccionario con las asignaciones de estado a localidad
diccionario_localidades = {
    'TX': 'Texas',
    'CA': 'California',
    'IN': 'Indiana',
    'KY': 'Kentucky',
    'IA': 'Iowa',
    'MS': 'Mississippi'
}

# Agregar la nueva columna 'localidad' al DataFrame df1 utilizando el diccionario de asignaciones
df1['localidad'] = df1['estado'].map(diccionario_localidades)

In [ ]:
# Eliminar la columna 'state' del DataFrame df1
df1.drop(columns='state', inplace=True)
# Renombrar las columnas 'estado' a 'state' y 'localidad' a 'city'
df1.rename(columns={'estado': 'state', 'localidad': 'city'}, inplace=True)

In [ ]:
df1.dropna(subset=['category'], inplace=True)

In [ ]:
# Convertir la columna 'category' de lista de strings a cadena de string
df1['category'] = df1['category'].apply(lambda x: ', '.join(x))

In [ ]:
# Definir las palabras clave a buscar
palabras_clave = ["Restaurants", "restaurants", "Restaurant", "restaurant"]

# Filtrar el DataFrame para mostrar solo las filas donde la columna 'category' contiene las palabras clave
condiciones = df1['category'].apply(lambda x: any(palabra in x for palabra in palabras_clave))

# Aplicar el filtro al DataFrame
df1 = df1[condiciones]

# Función para obtener los "Service options"
def get_service_options(dic):
    if isinstance(dic, dict) and "Service options" in dic:
        return dic["Service options"]
    else:
        return []

# Crear la columna 'Service options' y aplicar la función
df1["Service options"] = df1["MISC"].apply(lambda x: get_service_options(x))

# Crear la columna 'Delivery' y aplicar la función lambda
df1['Delivery'] = df1['Service options'].apply(lambda x: 1 if 'Delivery' in x else 0)

In [ ]:
df1 = df1[['name', 'gmap_id', 'category', 'avg_rating', 'num_of_reviews', 'city', 'state', 'Delivery']]
df1

# JSON 2

In [243]:
json2=pd.read_json('E:/documentos/soyhenry/DATA SCIENCE/MODULOS/PROYECTO FINAL/datasets/google/metadata-sitios/2.json', lines=True)
json2

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",0x88f16e41928ff687:0x883dad4fd048e8f8,None,32.388300,-83.357100,[Pharmacy],4.9,16,None,"[[Friday, 8AM–6PM], [Saturday, 8AM–12PM], [Sun...","{'Service options': ['In-store shopping', 'Sam...",Open ⋅ Closes 6PM,"[0x88f16e41929435cf:0x5b2532a2885e9ef6, 0x88f1...",https://www.google.com/maps/place//data=!4m2!3...
1,Glik's,"Glik's, 1405 W Main St, Gaylord, MI 49735",0x4d354f7b3ae7bef1:0x8d9fdcd2fd71eb10,Family-owned clothing chain offering trendy ca...,45.025578,-84.702644,"[Clothing store, Shoe store, Women's clothing ...",4.4,16,None,"[[Saturday, 10AM–8PM], [Sunday, 12–5PM], [Mond...","{'Service options': ['In-store pickup', 'In-st...",Open ⋅ Closes 8PM,"[0x4d3545876def64d9:0x9ce5f21fc27974d6, 0x4d35...",https://www.google.com/maps/place//data=!4m2!3...
2,Oscoda County Area Transit Authority (O-cats),"Oscoda County Area Transit Authority (O-cats),...",0x88208ef3441c45bb:0x8dd64d99a31de703,None,44.645621,-84.149766,[Handicapped transportation service],4.7,6,None,None,{'Accessibility': ['Wheelchair accessible entr...,None,"[0x88208ef38622eed1:0xc6f564f43dcbeb30, 0x8820...",https://www.google.com/maps/place//data=!4m2!3...
3,Hickerson Floor & Tile Haus,"Hickerson Floor & Tile Haus, 2234 M-32, Gaylor...",0x4d35487e8d000561:0xdb6871623dbb10ef,None,45.028342,-84.719165,"[Flooring store, Carpet store, Rug store, Tile...",4.7,16,None,"[[Saturday, 9AM–3PM], [Sunday, Closed], [Monda...","{'Service options': ['In-store pickup', 'In-st...",Closed ⋅ Opens 9AM Mon,"[0x4d354f7bc740703b:0x804108d3b0032d71, 0x4d35...",https://www.google.com/maps/place//data=!4m2!3...
4,Beck Suzanne A MD,"Beck Suzanne A MD, 3502 22nd St, Lubbock, TX 7...",0x86fe72aa61be7aaf:0xb9f513a5f8e16a0b,None,33.575336,-101.890226,[Doctor],4.2,5,None,None,{'Accessibility': ['Wheelchair accessible entr...,None,"[0x86fe0d58535f631b:0x487a281ef8b56aa8, 0x86fe...",https://www.google.com/maps/place//data=!4m2!3...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274996,Quality Office Supply,"Quality Office Supply, 1024 Pierre Ave, Shreve...",0x8636cd40244e87ff:0x77d20dd0785ac2e6,None,32.501904,-93.763399,[Office supply store],5.0,2,None,None,{'Service options': ['In-store shopping']},None,"[0x8636cd313bf1647f:0x76911c0b131f6b39, 0x8636...",https://www.google.com/maps/place//data=!4m2!3...
274997,JV towing,"JV towing, 4975 W Adams Blvd, Los Angeles, CA ...",0x80c2b94b59d23239:0xc095fa9282871c12,None,34.032909,-118.349082,[Auto wrecker],5.0,1,None,"[[Tuesday, Open 24 hours], [Wednesday, Open 24...",None,Open 24 hours,None,https://www.google.com/maps/place//data=!4m2!3...
274998,"Sisom Osia, MD (Gateway Medical Center)","Sisom Osia, MD (Gateway Medical Center), 9628 ...",0x89b7bde343a53233:0x12fe2357bde85896,None,38.817388,-76.840270,[Doctor],4.7,188,None,"[[Tuesday, 9AM–5PM], [Wednesday, 9AM–5PM], [Th...",{'Accessibility': ['Wheelchair accessible entr...,Closed ⋅ Opens 9AM Wed,"[0x89b796bcdbba1335:0x3d57f7fb0ef52bb1, 0x89b7...",https://www.google.com/maps/place//data=!4m2!3...
274999,Rasa Floors,"Rasa Floors, 2833 Eisenhower St Suite 100, Car...",0x864c2f593c5116d3:0x913d556ce7012a2f,None,32.990436,-96.926784,[Flooring contractor],4.3,47,None,"[[Tuesday, 7AM–7PM], [Wednesday, 7AM–7PM], [Th...",{'Accessibility': ['Wheelchair accessible entr...,Open ⋅ Closes 7PM,"[0x864c25f7faeb40c1:0x42ecb75804ecd9a3, 0x864c...",https://www.google.com/maps/place//data=!4m2!3...
275000,"Alpha Testing, Inc.","Alpha Testing, Inc., 2209 Wisconsin St, Dallas...",0x864c27f22f5ae449:0x5db3b3b3d0829cd8,None,32.897531,-96.904385,[Engineer],4.1,33,None,"[[Tuesday, 8AM–5PM], [Wednesday, 8AM–5PM], [Th...",{'Accessibility': ['Wheelchair accessible entr...,Closes soon ⋅ 5PM ⋅ Opens 8AM Wed,"[0x864ea53029cd453f:0x4dcaea2d11540944, 0x864c...",https://www.google.com/maps/place//data=!4m2!3...

In [246]:
df2 = json2

In [247]:
#eliminamos las columnas que no son relevantes [name, gmap_id, avg_rating, num_of_reviews, category, estado, localidad, Delivery]
df2=df2.drop(columns=['hours', 'latitude', 'longitude', 'relative_results', 'url', 'description'], axis=1)

In [248]:
#Agregamos la columna 'estado' donde van a estar alojados los códigos de los países
estado_regex = r',\s([A-Za-z]{2,})\s(\d{5})?$'
df2['estado'] = df2['address'].str.extract(estado_regex, expand=True)[0]

In [249]:
# Definir una lista con los códigos de estado que queremos mantener
codigos_estado_deseados = ['TX', 'CA', 'IN', 'KY', 'IA', 'MS']

# Filtrar la columna 'estado' para mantener solo los códigos de estado deseados
df2= df2[df2['estado'].isin(codigos_estado_deseados)]

In [250]:
# agregar la columna 'localidad' con el nombre de cada localidad que le corresonde a cada código de estado
# Definir un diccionario con las asignaciones de estado a localidad
diccionario_localidades = {
    'TX': 'Texas',
    'CA': 'California',
    'IN': 'Indiana',
    'KY': 'Kentucky',
    'IA': 'Iowa',
    'MS': 'Mississippi'
}

# Agregar la nueva columna 'localidad' al DataFrame df1 utilizando el diccionario de asignaciones
df2['localidad'] = df2['estado'].map(diccionario_localidades)

In [251]:
# Eliminar la columna 'state' del DataFrame df1
df2.drop(columns='state', inplace=True)
# Renombrar las columnas 'estado' a 'state' y 'localidad' a 'city'
df2.rename(columns={'estado': 'state', 'localidad': 'city'}, inplace=True)

In [252]:
df2.dropna(subset=['category'], inplace=True)

In [253]:
# Convertir la columna 'category' de lista de strings a cadena de string
df2['category'] = df2['category'].apply(lambda x: ', '.join(x))

In [254]:
# Definir las palabras clave a buscar
palabras_clave = ["Restaurants", "restaurants", "Restaurant", "restaurant"]

# Filtrar el DataFrame para mostrar solo las filas donde la columna 'category' contiene las palabras clave
condiciones = df2['category'].apply(lambda x: any(palabra in x for palabra in palabras_clave))

# Aplicar el filtro al DataFrame
df2 = df2[condiciones]

# Función para obtener los "Service options"
def get_service_options(dic):
    if isinstance(dic, dict) and "Service options" in dic:
        return dic["Service options"]
    else:
        return []

# Crear la columna 'Service options' y aplicar la función
df2["Service options"] = df2["MISC"].apply(lambda x: get_service_options(x))

# Crear la columna 'Delivery' y aplicar la función lambda
df2['Delivery'] = df2['Service options'].apply(lambda x: 1 if 'Delivery' in x else 0)

In [255]:
df2 = df2[['name', 'gmap_id', 'category', 'avg_rating', 'num_of_reviews', 'city', 'state', 'Delivery']]
df2

,name,gmap_id,category,avg_rating,num_of_reviews,city,state,Delivery
533,Ethiopian and Eritrean Food Trailer,0x8644b5d286dbcf3d:0xd73979857f7cf58e,Restaurant,4.9,33,Texas,TX,0
536,Tacos La Sabroza,0x8644b41c768b934b:0xc33046bfaa7e258a,"Restaurant, ATM",4.2,26,Texas,TX,1
548,La Texanita,0x8644d376b429ebfd:0x8a488c1891724ecc,Restaurant,4.8,8,Texas,TX,1
549,Bao'd Up - Modern Asian Eats - Riverside,0x8644b5e52ab936e5:0x318a6e77ecf6bf72,"Asian fusion restaurant, Chinese takeaway, Fas...",4.4,25,Texas,TX,1
697,Abu Omar Halal - FM1960,0x8640b3dd87da1689:0x1b5223846638de4a,Fast food restaurant,3.5,8,Texas,TX,1
...,...,...,...,...,...,...,...,...
274629,red | seven by Wolfgang Puck,0x80c2beaf99380455:0x750e1dfa6d934fe3,American restaurant,3.9,8,California,CA,1
274689,El Taco Panchon,0x864751825f90eae5:0xb915ae4f7cb4d07b,"Mexican restaurant, Restaurant",4.5,65,Texas,TX,1
274844,Taqueria el Mirador,0x864e7584be163aeb:0xa2f1a919bcfe4ab5,Mexican restaurant,3.8,27,Texas,TX,1
274992,Sandbox Bar & Grill,0x8871d51b1d1c74f9:0x1989ce7a8ac83186,Restaurant,3.5,6,Indiana,IN,1
274993,Clark Street Brentwood,0x80c2bdfc9d6142c9:0x8bc02a95aa83683d,"Bakery, Breakfast restaurant, Cafe, Coffee sho...",4.9,25,California,CA,0

# JSON 3

In [244]:
json3=pd.read_json('E:/documentos/soyhenry/DATA SCIENCE/MODULOS/PROYECTO FINAL/datasets/google/metadata-sitios/3.json', lines=True)

In [245]:
df3 = json3

In [256]:
#eliminamos las columnas que no son relevantes [name, gmap_id, avg_rating, num_of_reviews, category, estado, localidad, Delivery]
df3=df3.drop(columns=['hours', 'latitude', 'longitude', 'relative_results', 'url', 'description'], axis=1)

In [257]:
#Agregamos la columna 'estado' donde van a estar alojados los códigos de los países
estado_regex = r',\s([A-Za-z]{2,})\s(\d{5})?$'
df3['estado'] = df3['address'].str.extract(estado_regex, expand=True)[0]

In [258]:
# Definir una lista con los códigos de estado que queremos mantener
codigos_estado_deseados = ['TX', 'CA', 'IN', 'KY', 'IA', 'MS']

# Filtrar la columna 'estado' para mantener solo los códigos de estado deseados
df3= df3[df3['estado'].isin(codigos_estado_deseados)]

In [259]:
# agregar la columna 'localidad' con el nombre de cada localidad que le corresonde a cada código de estado
# Definir un diccionario con las asignaciones de estado a localidad
diccionario_localidades = {
    'TX': 'Texas',
    'CA': 'California',
    'IN': 'Indiana',
    'KY': 'Kentucky',
    'IA': 'Iowa',
    'MS': 'Mississippi'
}

# Agregar la nueva columna 'localidad' al DataFrame df1 utilizando el diccionario de asignaciones
df3['localidad'] = df3['estado'].map(diccionario_localidades)

In [260]:
# Eliminar la columna 'state' del DataFrame df1
df3.drop(columns='state', inplace=True)
# Renombrar las columnas 'estado' a 'state' y 'localidad' a 'city'
df3.rename(columns={'estado': 'state', 'localidad': 'city'}, inplace=True)

In [261]:
df3.dropna(subset=['category'], inplace=True)

In [262]:
# Convertir la columna 'category' de lista de strings a cadena de string
df3['category'] = df3['category'].apply(lambda x: ', '.join(x))

In [263]:
# Definir las palabras clave a buscar
palabras_clave = ["Restaurants", "restaurants", "Restaurant", "restaurant"]

# Filtrar el DataFrame para mostrar solo las filas donde la columna 'category' contiene las palabras clave
condiciones = df3['category'].apply(lambda x: any(palabra in x for palabra in palabras_clave))

# Aplicar el filtro al DataFrame
df3 = df3[condiciones]

# Función para obtener los "Service options"
def get_service_options(dic):
    if isinstance(dic, dict) and "Service options" in dic:
        return dic["Service options"]
    else:
        return []

# Crear la columna 'Service options' y aplicar la función
df3["Service options"] = df3["MISC"].apply(lambda x: get_service_options(x))

# Crear la columna 'Delivery' y aplicar la función lambda
df3['Delivery'] = df3['Service options'].apply(lambda x: 1 if 'Delivery' in x else 0)

In [264]:
df3 = df3[['name', 'gmap_id', 'category', 'avg_rating', 'num_of_reviews', 'city', 'state', 'Delivery']]
df3

,name,gmap_id,category,avg_rating,num_of_reviews,city,state,Delivery
62,Cocina de Mama,0x864e9c1e3254107f:0xe88e17651e4b3bf9,"Mexican restaurant, Latin American restaurant",4.7,35,Texas,TX,1
343,Red Tulip Rolling Bistro,0x86383deb643a56fd:0x5a0e83a31c83663b,Restaurant,5.0,8,Texas,TX,1
347,Shell,0x8647a1e7f35ba85d:0x203eec046a7d7365,"Gas station, ATM, Convenience store, Restaurant",3.8,18,Texas,TX,0
358,Baja California Tacos - Broxton,0x80c2bd16e61206a1:0xfb13d068c2ef35b2,Restaurant,3.5,18,California,CA,1
406,Costco Food Court,0x80d760adc205b5a3:0x3b3898c447d9f437,Takeout Restaurant,4.3,18,California,CA,0
...,...,...,...,...,...,...,...,...
274680,The Cuban Way,0x864c175157d88c6d:0x7f852ad2e7673464,"Cuban restaurant, Coffee shop, Sandwich shop",4.1,34,Texas,TX,1
274875,Persis,0x808fec05a2d956b7:0x8de09b737825b8d4,Indian restaurant,1.5,4,California,CA,1
274940,Frannie Express,0x808f93f61d997ebb:0x4a532d3df7394384,Chinese restaurant,3.8,88,California,CA,1
274949,F&F Japanese Grill,0x86468578955ddeef:0x9e3d190cfa89a2e3,Japanese restaurant,4.7,44,Texas,TX,1
274960,Slice of Hollywood,0x808f8741ec8fe459:0x4031ee7f4c0e8862,"Pizza delivery, Chicken wings restaurant, Deli...",1.8,5,California,CA,1

# JSON 4

In [266]:
json4=pd.read_json('E:/documentos/soyhenry/DATA SCIENCE/MODULOS/PROYECTO FINAL/datasets/google/metadata-sitios/4.json', lines=True)

In [267]:
df4=json4

In [ ]:
#eliminamos las columnas que no son relevantes [name, gmap_id, avg_rating, num_of_reviews, category, estado, localidad, Delivery]
df4=df4.drop(columns=['hours', 'latitude', 'longitude', 'relative_results', 'url', 'description'], axis=1)

In [270]:
#Agregamos la columna 'estado' donde van a estar alojados los códigos de los países
estado_regex = r',\s([A-Za-z]{2,})\s(\d{5})?$'
df4['estado'] = df4['address'].str.extract(estado_regex, expand=True)[0]

In [271]:
# Definir una lista con los códigos de estado que queremos mantener
codigos_estado_deseados = ['TX', 'CA', 'IN', 'KY', 'IA', 'MS']

# Filtrar la columna 'estado' para mantener solo los códigos de estado deseados
df4= df4[df4['estado'].isin(codigos_estado_deseados)]

In [272]:
# agregar la columna 'localidad' con el nombre de cada localidad que le corresonde a cada código de estado
# Definir un diccionario con las asignaciones de estado a localidad
diccionario_localidades = {
    'TX': 'Texas',
    'CA': 'California',
    'IN': 'Indiana',
    'KY': 'Kentucky',
    'IA': 'Iowa',
    'MS': 'Mississippi'
}

# Agregar la nueva columna 'localidad' al DataFrame df1 utilizando el diccionario de asignaciones
df4['localidad'] = df4['estado'].map(diccionario_localidades)

C:\Users\agust_5hrd3hq\AppData\Local\Temp\ipykernel_3124\2554575544.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['localidad'] = df4['estado'].map(diccionario_localidades)

In [273]:
# Eliminar la columna 'state' del DataFrame df1
df4.drop(columns='state', inplace=True)
# Renombrar las columnas 'estado' a 'state' y 'localidad' a 'city'
df4.rename(columns={'estado': 'state', 'localidad': 'city'}, inplace=True)

C:\Users\agust_5hrd3hq\AppData\Local\Temp\ipykernel_3124\2105036780.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop(columns='state', inplace=True)
C:\Users\agust_5hrd3hq\AppData\Local\Temp\ipykernel_3124\2105036780.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.rename(columns={'estado': 'state', 'localidad': 'city'}, inplace=True)

In [274]:
df4.dropna(subset=['category'], inplace=True)

C:\Users\agust_5hrd3hq\AppData\Local\Temp\ipykernel_3124\441348790.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.dropna(subset=['category'], inplace=True)

In [275]:
# Convertir la columna 'category' de lista de strings a cadena de string
df4['category'] = df4['category'].apply(lambda x: ', '.join(x))

C:\Users\agust_5hrd3hq\AppData\Local\Temp\ipykernel_3124\1900177361.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['category'] = df4['category'].apply(lambda x: ', '.join(x))

In [276]:
# Definir las palabras clave a buscar
palabras_clave = ["Restaurants", "restaurants", "Restaurant", "restaurant"]

# Filtrar el DataFrame para mostrar solo las filas donde la columna 'category' contiene las palabras clave
condiciones = df4['category'].apply(lambda x: any(palabra in x for palabra in palabras_clave))

# Aplicar el filtro al DataFrame
df4 = df4[condiciones]

# Función para obtener los "Service options"
def get_service_options(dic):
    if isinstance(dic, dict) and "Service options" in dic:
        return dic["Service options"]
    else:
        return []

# Crear la columna 'Service options' y aplicar la función
df4["Service options"] = df4["MISC"].apply(lambda x: get_service_options(x))

# Crear la columna 'Delivery' y aplicar la función lambda
df4['Delivery'] = df4['Service options'].apply(lambda x: 1 if 'Delivery' in x else 0)

In [277]:
df4 = df4[['name', 'gmap_id', 'category', 'avg_rating', 'num_of_reviews', 'city', 'state', 'Delivery']]

In [279]:
df4.shape

(3627, 8)

# JSON 5

In [282]:
json5=pd.read_json('E:/documentos/soyhenry/DATA SCIENCE/MODULOS/PROYECTO FINAL/datasets/google/metadata-sitios/5.json', lines=True)

In [283]:
df5=json5

In [284]:
#eliminamos las columnas que no son relevantes [name, gmap_id, avg_rating, num_of_reviews, category, estado, localidad, Delivery]
df5=df5.drop(columns=['hours', 'latitude', 'longitude', 'relative_results', 'url', 'description'], axis=1)

In [285]:
#Agregamos la columna 'estado' donde van a estar alojados los códigos de los países
estado_regex = r',\s([A-Za-z]{2,})\s(\d{5})?$'
df5['estado'] = df5['address'].str.extract(estado_regex, expand=True)[0]

In [286]:
# Definir una lista con los códigos de estado que queremos mantener
codigos_estado_deseados = ['TX', 'CA', 'IN', 'KY', 'IA', 'MS']

# Filtrar la columna 'estado' para mantener solo los códigos de estado deseados
df5= df5[df5['estado'].isin(codigos_estado_deseados)]

In [287]:
# agregar la columna 'localidad' con el nombre de cada localidad que le corresonde a cada código de estado
# Definir un diccionario con las asignaciones de estado a localidad
diccionario_localidades = {
    'TX': 'Texas',
    'CA': 'California',
    'IN': 'Indiana',
    'KY': 'Kentucky',
    'IA': 'Iowa',
    'MS': 'Mississippi'
}

# Agregar la nueva columna 'localidad' al DataFrame df1 utilizando el diccionario de asignaciones
df5['localidad'] = df5['estado'].map(diccionario_localidades)

In [288]:
# Eliminar la columna 'state' del DataFrame df1
df5.drop(columns='state', inplace=True)
# Renombrar las columnas 'estado' a 'state' y 'localidad' a 'city'
df5.rename(columns={'estado': 'state', 'localidad': 'city'}, inplace=True)

In [289]:
df5.dropna(subset=['category'], inplace=True)

In [290]:
# Convertir la columna 'category' de lista de strings a cadena de string
df5['category'] = df5['category'].apply(lambda x: ', '.join(x))

In [291]:
# Definir las palabras clave a buscar
palabras_clave = ["Restaurants", "restaurants", "Restaurant", "restaurant"]

# Filtrar el DataFrame para mostrar solo las filas donde la columna 'category' contiene las palabras clave
condiciones = df5['category'].apply(lambda x: any(palabra in x for palabra in palabras_clave))

# Aplicar el filtro al DataFrame
df5 = df5[condiciones]

# Función para obtener los "Service options"
def get_service_options(dic):
    if isinstance(dic, dict) and "Service options" in dic:
        return dic["Service options"]
    else:
        return []

# Crear la columna 'Service options' y aplicar la función
df5["Service options"] = df5["MISC"].apply(lambda x: get_service_options(x))

# Crear la columna 'Delivery' y aplicar la función lambda
df5['Delivery'] = df5['Service options'].apply(lambda x: 1 if 'Delivery' in x else 0)

In [292]:
df5 = df5[['name', 'gmap_id', 'category', 'avg_rating', 'num_of_reviews', 'city', 'state', 'Delivery']]

# JSON 6

In [ ]:
json6=pd.read_json('E:/documentos/soyhenry/DATA SCIENCE/MODULOS/PROYECTO FINAL/datasets/google/metadata-sitios/6.json', lines=True)

In [ ]:
df6=json6

In [ ]:
#eliminamos las columnas que no son relevantes [name, gmap_id, avg_rating, num_of_reviews, category, estado, localidad, Delivery]
df6=df6.drop(columns=['hours', 'latitude', 'longitude', 'relative_results', 'url', 'description'], axis=1)

In [ ]:
#Agregamos la columna 'estado' donde van a estar alojados los códigos de los países
estado_regex = r',\s([A-Za-z]{2,})\s(\d{5})?$'
df6['estado'] = df6['address'].str.extract(estado_regex, expand=True)[0]

In [ ]:
# Definir una lista con los códigos de estado que queremos mantener
codigos_estado_deseados = ['TX', 'CA', 'IN', 'KY', 'IA', 'MS']

# Filtrar la columna 'estado' para mantener solo los códigos de estado deseados
df6= df6[df6['estado'].isin(codigos_estado_deseados)]

In [ ]:
# agregar la columna 'localidad' con el nombre de cada localidad que le corresonde a cada código de estado
# Definir un diccionario con las asignaciones de estado a localidad
diccionario_localidades = {
    'TX': 'Texas',
    'CA': 'California',
    'IN': 'Indiana',
    'KY': 'Kentucky',
    'IA': 'Iowa',
    'MS': 'Mississippi'
}

# Agregar la nueva columna 'localidad' al DataFrame df1 utilizando el diccionario de asignaciones
df6['localidad'] = df6['estado'].map(diccionario_localidades)

In [ ]:
# Eliminar la columna 'state' del DataFrame df1
df6.drop(columns='state', inplace=True)
# Renombrar las columnas 'estado' a 'state' y 'localidad' a 'city'
df6.rename(columns={'estado': 'state', 'localidad': 'city'}, inplace=True)

In [ ]:
df6.dropna(subset=['category'], inplace=True)

In [ ]:
# Convertir la columna 'category' de lista de strings a cadena de string
df6['category'] = df6['category'].apply(lambda x: ', '.join(x))

In [ ]:
# Definir las palabras clave a buscar
palabras_clave = ["Restaurants", "restaurants", "Restaurant", "restaurant"]

# Filtrar el DataFrame para mostrar solo las filas donde la columna 'category' contiene las palabras clave
condiciones = df6['category'].apply(lambda x: any(palabra in x for palabra in palabras_clave))

# Aplicar el filtro al DataFrame
df6 = df6[condiciones]

# Función para obtener los "Service options"
def get_service_options(dic):
    if isinstance(dic, dict) and "Service options" in dic:
        return dic["Service options"]
    else:
        return []

# Crear la columna 'Service options' y aplicar la función
df6["Service options"] = df6["MISC"].apply(lambda x: get_service_options(x))

# Crear la columna 'Delivery' y aplicar la función lambda
df6['Delivery'] = df6['Service options'].apply(lambda x: 1 if 'Delivery' in x else 0)

In [ ]:
df6 = df6[['name', 'gmap_id', 'category', 'avg_rating', 'num_of_reviews', 'city', 'state', 'Delivery']]

In [265]:
df1.to_parquet('1.parquet', index= False)
df2.to_parquet('2.parquet', index= False)
df3.to_parquet('3.parquet', index= False)

In [280]:
df4.to_parquet('4.parquet', index=False)

# Concatenar

In [317]:
# Lista con los dataframes
dataframes = [df1, df2, df3, df4, df5]

# Concatenar los dataframes uno debajo del otro
primera_parte_gmap = pd.concat(dataframes)

In [322]:
primera_parte_gmap.drop_duplicates(subset=['gmap_id'], keep='first', inplace=True)

In [324]:
primera_parte_gmap.to_parquet('parte_1.parquet', index= False)

NameError: name 'primera_parte_gmap' is not defined

# metadata

In [3]:
import pandas as pd
primera = pd.read_parquet('parte_1.parquet')

:

:

In [ ]:
import pandas as pd

In [ ]:
google_mp=pd.read_parquet('df_google_metadata.parquet')