<div align="center">

# **ETL review TEXAS**

</div>

In [1]:
import pandas as pd

In [3]:
review_texas = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\1.json', lines= True)

c:\Python311\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)

In [6]:
texas1 = review_texas

In [9]:
review_texas2 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\2.json', lines= True)
review_texas3 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\3.json', lines= True)
review_texas4 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\4.json', lines= True)
review_texas5 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\5.json', lines= True)
review_texas6 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\6.json', lines= True)
review_texas7 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\7.json', lines= True)
review_texas8 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\8.json', lines= True)
review_texas9 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\9.json', lines= True)
review_texas10 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\10.json', lines= True)
review_texas11 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\11.json', lines= True)
review_texas12 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\12.json', lines= True)
review_texas13 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\13.json', lines= True)
review_texas14 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\14.json', lines= True)
review_texas15 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\15.json', lines= True)
review_texas16 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\16.json', lines= True)
review_texas17 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\17.json', lines= True)
review_texas18 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\18.json', lines= True)

c:\Python311\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Python311\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Python311\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Python311\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Python311\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Python311\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Python311\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Python311\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Python311\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Python311\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Python311\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Python311\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Python311\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Python311\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Python311\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Python311\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
c:\Python311\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)

In [12]:
dataframes = [review_texas, review_texas2, review_texas3, review_texas4, review_texas5, review_texas6, review_texas7, review_texas8, review_texas9,
              review_texas10, review_texas11, review_texas12, review_texas13, review_texas14, review_texas15, review_texas16, review_texas17, review_texas18]

# Concatenar los dataframes uno debajo del otro
texas_review = pd.concat(dataframes)

In [13]:
texas_review.to_csv('texas_review.csv', index=False)

In [14]:
texas_reseña = texas_review

In [19]:
texas_reseña = texas_reseña.drop(columns=['pics'], axis=1)
texas_reseña = texas_reseña.drop(columns=['resp'], axis= 1)

In [51]:
# completar los nulos con la palabra 'sin reseña'
texas_reseña['text'].fillna('sin reseña', inplace=True)
# agregar la columna 'state' con el nombre del estado
texas_reseña['state'] = 'Texas'

In [53]:
texas_reseña

,user_id,name,time,rating,text,gmap_id,state
0,1.089912e+20,Song Ro,1609909927056,5,Love there korean rice cake.,0x80c2c778e3b73d33:0xbdc58662a4a97d49,Texas
1,1.112903e+20,Rafa Robles,1612849648663,5,Good very good,0x80c2c778e3b73d33:0xbdc58662a4a97d49,Texas
2,1.126404e+20,David Han,1583643882296,4,They make Korean traditional food very properly.,0x80c2c778e3b73d33:0xbdc58662a4a97d49,Texas
3,1.174403e+20,Anthony Kim,1551938216355,5,Short ribs are very delicious.,0x80c2c778e3b73d33:0xbdc58662a4a97d49,Texas
4,1.005808e+20,Mario Marzouk,1494910901933,5,Great food and prices the portions are large,0x80c2c778e3b73d33:0xbdc58662a4a97d49,Texas
...,...,...,...,...,...,...,...
149995,1.139124e+20,Mayur Senjalia,1553382802382,5,sin reseña,0x808fc0c19ba4e761:0x589c9ad71c62a420,Texas
149996,1.180461e+20,Dennis Barrios,1509453169393,5,sin reseña,0x808fc0c19ba4e761:0x589c9ad71c62a420,Texas
149997,1.071072e+20,gena807,1614453586811,4,sin reseña,0x808fc0c19ba4e761:0x589c9ad71c62a420,Texas
149998,1.172404e+20,Anant Khadke,1569739943903,5,sin reseña,0x808fc0c19ba4e761:0x589c9ad71c62a420,Texas
149999,1.117537e+20,Phillip Uyesato,1521661727317,5,sin reseña,0x808fc0c19ba4e761:0x589c9ad71c62a420,Texas

In [54]:
texas_reseña.to_parquet('texas_review.parquet', index = False)